@import './variables';

.btn {
    &__icon {
        min-width: 25px !important;
        width: 25px !important;
        height: 25px !important;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-icons !important;
        &:hover {
            color: $clr-icon-hover !important;
        }
    }

    &-close {
        width: 6px;
        height: 6px;
        top: 5px;
        left: 5px;
        gap: 0;
        opacity: 0;
        padding: 4px;
        margin-right: 4px;
    }

    &__small {
        min-width: 73px;
        height: 34px;
        padding: 6px 12px 8px 12px;
        font-size: 14px;
    }

    &__lg {
        height: 60px;
        min-width: 120px;
        font-size: 20px;
        padding: 12px 24px 16px 24px;
    }

    &__gris-oscuro {
        background-color: $clr-gris-500;
        color: $clr-gris-50;
        &:hover {
            background-color: $clr-gris-300;
            color: $clr-gris-500;
        }
        &:disabled {
            background-color: $clr-gris-500;
            color: $clr-gris-50;
            opacity: 90%;
        }
    }

    &__gris-claro {
        background-color: $clr-gris-300;
        color: $clr-gris-50;
        &:hover {
            background-color: $clr-gris-500;
            color: $clr-gris-300;
        }
        &:disabled {
            background-color: $clr-gris-300;
            color: $clr-gris-50;
            opacity: 50%;
        }
    }
}