<div class="modal-content modal">
    <div class="modal--header">
        <div class="row d-flex justify-content-center w-100">
            <div class="col-11">
                <h1>{{ titulo }}</h1>
            </div>
            <div class="col-1">
                <button type="button" class="btn-close" aria-label="close modal" (click)="activeModal.dismiss('close')"></button>
            </div>
        </div>
    </div>
    <div class="modal-body modal-card">
        <ng-content select="[body]"></ng-content>
    </div>
    <div class="modal--footer w-100 d-flex justify-content-end">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn__small btn__gris-oscuro" (click)="activeModal.dismiss('close')">Cancelar</button>
        </div>
        <ng-content select="[accion]"></ng-content>
        
    </div>
</div>