@import './variables';

.text {
    &__clrblanco {
        color: $clr-blanco;
    }

    &__clrgris200{
        color: $clr-gris-200;
    }

    &__clrcompletada {
        color: $clr-completada !important;
    }

    &__clrsincompletar {
        color: $clor-sin-completar !important;
    }

    &__75 {
        font-size: 75px !important;
    }


}