

$clr-completada: #33691E;
$clr-prioridad-alta: #BF360C;
$clr-prioridad-media: #FFAB00;
$clr-prioridad-baja: #1A237E;

$clr-icons: #EEEEEE;
$clr-icon-hover: #BDBDBD;

$clr-blanco: #FAFAFA;
$clr-azul-oscuro: #0091EA;
$clr-azul-claro: #80D8FF;

//grises
$clr-gris-50: #FAFAFA;
$clr-gris-100: #F5F5F5;
$clr-gris-200: #EEEEEE;
$clr-gris-300: #E0E0E0;
$clr-gris-400: #BDBDBD;
$clr-gris-500: #9E9E9E;
$clr-gris-600: #757575;
$clr-gris-700: #616161;
$clr-gris-800: #424242;
$clr-gris-900: #212121;