<div class="card tarea-card">
    <div class="row">
        <div class="col-1 h-100 d-flex justify-content-center align-items-center text__75" [ngClass]="establecerPrioridad(tarea.prioridad)">
            <em class="bi bi-dot"></em>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-6">
                    <p class="text__clrgris200"><strong>Tarea: <em [ngClass]="establecerIconoTipo(tarea.tipo)"></em></strong> {{tarea.descripcion}}</p>
                </div>
                <div class="col"></div>
                <div class="col-4 text__clrgris200">
                    <p>{{tarea.fecha}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <p class="text__clrgris200">
                    <em class="bi bi-geo"></em>
                    {{ tarea.lugar }}
                </p>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-between align-items-center">
            <button class="btn btn__icon" (click)="abrirEditarTarea(tarea)"><em class="bi bi-pencil-fill"></em></button>
            <button class="btn btn__icon" (click)="abrirModalEliminar(index)"><em class="bi bi-trash-fill"></em></button>
        </div>
    </div>
</div>