<div class="todo-container">
    <h1 class="text__clrorange50 text-center">Organizador de tareas</h1>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col container-tareas">
            @for (tarea of tareas; track $index) {
                <app-card-tarea [tarea]="tarea" (refrescar)="tareaEliminada(dangerTpl)" (editar)="editarTarea(tarea)"></app-card-tarea>
            }
        </div>
        <div class="col-3"></div>
    </div>
</div>



<ng-template #dangerTpl>Se elimonó la tarea con éxito</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>